<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo list</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <main>
        <img src="/img/image.jpg" alt="Sample Image" />
        <div><input type="text" max="140"> <button>Create TODO</button></div>
        <div>
            <ul>
                <li>TODO 1</li>
                <li>TODO 2</li>
            </ul>
        </div>

    </main>
</body>
</html>